.navbar{
    border-bottom: 1px solid rgb(201, 201, 201);
    background-color: #4829b2;
}
.navbar-item{
    color: rgb(236, 234, 234);
}
.span-text{
    font-weight: normal !important; 
    
}
.my-image{
    width: 55% !important;
    margin-left: 25%;
    padding-top: 2%;
    padding-bottom: 5%;
}
body{
    background-color: #f5f5f5;
    cursor: pointer;
}
.my-level{
   padding-bottom: 3%;
}

.my-heading{
    color: #4829b2;
    padding-bottom: 4%;
}
.my-title{
   padding-bottom: 4%;
}
.my-btn{
    border: 2px solid #4829b2;
    padding-bottom:35px;
    padding-left:15px;
    padding-right: 15px;
    padding-top: 10px;
    border-radius: 20px;
    color: #4829b2;
}

.my-input{
    display: inline;
    width:40%;
    padding: 20px 20px;
}
.Search{
    background-color: #4829b2;
    color: #fff;
    padding: 10px 20px 30px 20px;
}
.ready{
    color: #4829b2;
}
.footer{
    background-color: #4829b2;
    color: rgb(236, 234, 234);
}
